nav {
    background-color: #566573;
}

main {
    margin-top: 3rem;
}

h6 {
    margin-bottom: 1rem;
    margin-left: 2rem;
}

.available-to-drop.over {
    border: 2px dashed #000;
}

#first-image {
   background-color:#FADBD8;
   height: 15rem; 
   width: 100%;
}

#second-image{
    background-color:#E8DAEF;
    height: 7.5rem; 
    width: 100%;  
}

#third-image {
    background-color:#F2D7D5;
    height: 7.5rem; 
    width: 100%;
}

img {
    width: 100%;
    cursor: move;
}